Source: libmpack-lua
Section: interpreters
Priority: optional
Maintainer: xiangzelong <xiangzelong@deepin.org>
Build-Depends: debhelper (>= 11),
               dh-lua,
               libmpack-dev,
Standards-Version: 4.1.3
Homepage: https://github.com/libmpack/libmpack-lua/
Vcs-Git: https://github.com/deepin-community/libmpack-lua.git
Vcs-Browser: https://github.com/deepin-community/libmpack-lua

Package: lua-mpack
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}
Provides: ${lua:Provides}
XB-Lua-Versions: ${lua:Versions}
Description: libmpack binding for the Lua language
 libmpack is a small binary serialization/RPC library that implements both the
 msgpack and msgpack-rpc specifications.
 .
 This package provides the Lua bindings based on libmpack.
